body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Ensure the body flex direction is column to stack the navbar and other containers */
}

.navbar {
    display: flex;
    justify-content: center; /* Center the nav items horizontally */
    align-items: center; /* Center the nav items vertically */
    width: 100%;
    background-color: #333;
    padding: 10px 0;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

#board {
    background-image: url("./walletbg.png"); /* Ensure the correct image path */
}

.wallet-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.balance {
    font-size: 48px;
    font-weight: bold;
    color: #333;
}
